.appBodyAbout{
  display: flex;
  
}

.details{
  margin:40px;
  padding: 20px;
  text-align: justify;
  border-radius: 10px;
  background-color: antiquewhite;
}
.details a{
  text-decoration: none;
  color: brown;
  padding: 10px;
  border: 1px solid brown;
  border-radius: 5px;
}
.details a:hover{
  background-color: rgb(216, 203, 186);
}
.photo img{
width: 650px;
height: 630px;
padding-right: 20px;
opacity: 0.7;}

